*{
    padding: 0;
    margin: 0;
    
}

header{
    width: 100%;
    background-color: #45ec5e;
}

header h1{
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    color: #000000;
}

